<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TAGS</title>
    <link rel="stylesheet" href="assets/css/tags.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
   <main>
       <div class="main">
          
          
                <ul class="tags-list">
                    <li class="profile-group">
                        <h4>Profil</h4>
                        <ul class="tags-sublist">
                            <li class="tag-item">
                                <a href="#" class="btn-tag">Intégration</a>
                            </li>
                            <li class="tag-item">
                                <a href="#" class="btn-tag">Développement</a>
                                </li>
                        </ul>
                    </li>
                    <li class="ref-group">
                        <h4>Référentiel</h4>
                        <ul class="tags-sublist">
                            <li class="tag-item">
                                <a href="#" class="btn-tag">RGAA</a>
                            </li>
                            <li class="tag-item">
                                <a href="#" class="btn-tag">Charte de l'État</a>
                            </li>
                            <li class="tag-item">
                                <a href="#" class="btn-tag">Bonnes pratiques Opquast</a>
                            </li>
                        </ul>
                    </li>
                    <li class="niveau-group">
                        <h4>Niveau</h4>
                        <ul class="tags-sublist">
                            <li class="tag-item">
                                <a href="#" class="btn-tag">3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="thematique-group">
                        <h4>Thématique</h4>
                        <ul class="tags-sublist">
                            <li class="tag-item">
                                <a href="#" class="btn-tag">Navigation</a>
                            </li>
                        </ul>
                    </li>
                </ul>

           
       </div>
   </main>
    
</body>
</html>