{# icone svg
----------------------------------- #}
{%- macro svg(name, baseURL, class) -%}
  {% spaceless %}
  <svg class="{{class|default('svg-icon')}} icon-{{ name }}" aria-hidden="true" focusable="false"><use xlink:href="{{ baseURL }}assets/icones/icon-sprite.svg#{{ name }}"></use></svg>
  {% endspaceless %}
{% endmacro %}

{# usage :
  {{ macro.svg("warning",baseURL) }}
#}


{# lien externe avec icône
-> si pas de label, reprise de l'url sans le protocole
----------------------------------- #}
{% macro extLink(label, href, baseURL) %}
  {% import _self as svg %}

  {% spaceless %}
  <a class="ext-link" href="{{ href }}" target="_blank" rel="noopener noreferrer" title="{{ label|default(href)|replace({'http://': '', 'https://': '' }) }} - nouvelle fenêtre">{{ label|default(href)|replace({'http://': '', 'https://': ''}) }}{{ svg.svg("lien_externe",baseURL) }}</a>
  {% endspaceless %}
{% endmacro %}

{# usage :
  {{ macro.extLink("Scampi","https://gitlab.com/pidila/scampi",baseURL) }}
  {{ macro.extLink("https://gitlab.com/pidila/scampi",baseURL) }}
#}


{# lien download avec icône
-> si pas de docname, reprise du label
-> si pas d'infos, pas de parenthèses
----------------------------------- #}
{% macro downloadLink(label,href,docname,info,baseURL) %}
  {% import _self as svg %}

  {% spaceless %}
  <a class="download-link" href="{{ href }}" download="" title="Télécharger {{ docname|default(label) }} {% if info %}({{ info }}){% endif %}">{{ label }} {% if info %}({{ info }}){% endif %}{{ svg.svg("lien_download",baseURL) }}</a>
  {% endspaceless %}
{% endmacro %}

{# usage conforme RGAA :
  {{ macro.downloadLink("Notre compte-rendu","https://bla.com/docs/truc.pdf","Rapport d'activité 2018", "PDF, 12 Mo",baseURL) }}
#}
