@charset "UTF-8";
/*!
   ___                     _
  / __| __ __ _ _ __  _ __(_)
  \__ \/ _/ _` | '  \| '_ \ |
  |___/\__\__,_|_|_|_| .__/_|
                     |_|
  https://gitlab.com/pidila/scampi
*/

$primary-color: #058857;

@import "../../scampi/core/version";
@import "../../scampi/core/core-scampi-settings";
@import "../../scampi/core/core-scampi-mixins";
@import "../../scampi/core/core-scampi-basics";
@import "../../scampi/core/core-scampi-helpers";

// css modules
@import "../../scampi/modules/browsehappy/browsehappy";
@import "../../scampi/modules/svg-icons/svg-icons";


.scampi-stuff {
  // layout
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    flex-direction: column;
  }

  .main-container {
    max-width: 48em;
  }

  // banner
  .banner {
    .container {
      padding: .25em .5em;
      color: white;
      background-color: $primary-color;
    }

    h1 {
      margin-bottom: 0;
      color: white;
      font-size: 2em;
    }

    .baseline {
      margin-bottom: .25em;
    }
  }

  // main
  h2 {
    margin-bottom: 0;
    font-size: 1.5em;
    color: $primary-color;
  }

  h3 {
    font-size: 1.25em;
    font-weight: bold;
  }

  .pages-list {
    line-height: 1.75;

    a:link,
    a:visited {
      color: $body-color;
    }
    a:hover,
    a:focus {
      color: $primary-color;
    }
  }

  .page-status {
    display: inline-block;
    line-height: 1;
    padding: .25em .5em;
    border-radius: 3px;
    background: $gray-9;
    font-size: .825em;
    margin-left: .5em;
  }

  .status-inprogress {
    background-color: #FFC629;
  }

  .status-done {
    background-color: #23A84D;
    color: white;
  }

  // footer
  .footer {
    padding: .25em .5em;
    border-top: 1px solid $primary-color;
    font-size: .875em;

    p {
      margin: .25em 0;
    }
  }

  .col-group {
    margin-top: 1.5em;
  }

  @media screen and(min-width: 48em) {
    .banner {
      .container {
        padding: .75em 2em .5em;
      }

      h1 {
        padding-left: 0;
      }
    }

    h2 {
      margin-top: 1.25em;
      font-size: 1.5em;
    }

    .footer {
      padding: .5em 2em;
    }

    .col-group {
      display: flex;
      justify-content: space-between;
    }

    .col {
      width: 47%;
    }
  }
}
