@charset "UTF-8";
/*! =========================
   ___                     _
  / __| __ __ _ _ __  _ __(_)
  \__ \/ _/ _` | '  \| '_ \ |
  |___/\__\__,_|_|_|_| .__/_|
                     |_|
  url du dépôt
=========================== */
@import "../../scampi/core/version";

// si le site utilise une webfonte,
// paramétrer et importer ce module en premier
// @import "../../scampi/modules/fontface/fontface";


// settings, mixins, fonctions
@import "../../scampi/core/core-scampi-settings";
@import "../../scampi/core/core-scampi-mixins";

// css core
@import "../../scampi/core/core-scampi-basics";

////////////////////////////////////////
///////////////BASE/////////////////////

*{
    font-family: 'Roboto', sans-serif;
}

.main {
    margin: 0 auto;
    min-width: 20em;
    max-width: 52em;
    border: 1px solid #ecedef;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

.tags-list {
	display: flex;
}

.tags-list > li {
	flex: 1;
}

.tags-sublist {
	padding: 0;
}

////////////////////////////////////////
////////////COLOR TAG///////////////////

$profile-color: #742323;

$ref-color: #b04a07; 

$niveau-color: #0b4a36;

$thematique-color:#155274;

@mixin hover($color){
    background-color: lighten($color, 5%);
}

.profile-group .btn-tag {
    background-color: $profile-color;
}
.profile-group .btn-tag:hover {
    @include hover($profile-color);
}

.ref-group .btn-tag {
    background-color: $ref-color;   
}
.ref-group .btn-tag:hover {
    @include hover($ref-color);
}

.niveau-group .btn-tag {
    background-color: $niveau-color;
}
.niveau-group .btn-tag:hover {
    @include hover($niveau-color);
}

.thematique-group .btn-tag {
    background-color: $thematique-color;
}
.thematique-group .btn-tag:hover {
    @include hover($thematique-color);
}
////////////////////////////////////////
////////////COLOR AFTER/////////////////

$profile-border: transparent transparent transparent #742323;

$ref-border: transparent transparent transparent #b04a07; 

$niveau-border: transparent transparent transparent #0b4a36;

$thematique-border:transparent transparent transparent #155274;

@mixin hover($border){
    border-color: lighten($border, 5%);
}

.profile-group .btn-tag:after , .ref-group .btn-tag:after , .niveau-group .btn-tag:after , .thematique-group .btn-tag:after {
	content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px;
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: 10px;
}

.profile-group .btn-tag:after {
    border-color: $profile-border;
}
.profile-group .btn-tag:hover:after {
    @include hover($profile-border);
}

.ref-group .btn-tag:after {
    border-color: $ref-border;
}
.ref-group .btn-tag:hover:after {
     @include hover($ref-border);
}

.niveau-group .btn-tag:after {
    border-color: $niveau-border;
    margin-left: 17px;
}
.niveau-group .btn-tag:hover:after {
     @include hover($niveau-border);
}

.thematique-group .btn-tag:after {
    border-color: $thematique-border;
}
.thematique-group .btn-tag:hover:after {
     @include hover($thematique-border);
}
/////////////////////////////////////////////////////
/////////////////////////TAGS////////////////////////

.tag-item {
    margin: 10% 0;
    color: #fff;
    font-size: 0.7em;
    font-weight: 300;
    cursor: pointer;
}

.btn-tag {
    padding: 6px 10px 4px 10px;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    position: relative;
}

.niveau-group .btn-tag {
	padding: 6px 17px 4px 10px;
}

/////////////////////////////////////////////////////