{# ----------- établissement des groupes ----------- #}

{% set site_colors =
  [
    "body-color",
    "headings-color",
    "primary-color",
    "secondary-color"
  ]
%}

{% set alert_colors =
  [
    "info-color",
    "success-color",
    "warning-color",
    "danger-color"
  ]
%}

{% set gray_colors =
  [
    "gray-1",
    "gray-2",
    "gray-3",
    "gray-4",
    "gray-5",
    "gray-6",
    "gray-7",
    "gray-8",
    "gray-9",
    "gray-10"
  ]
%}

{# ----------- macros ----------- #}

{% macro simple(param) %}
  <ul class="sg-color-boxes sg-simple-palette">
  {% for item in param %}
    <li class="sg-color-box swatch-{{ item }}">
      <div class="sg-color-swatch">
        <p class="sg-color-box-title">${{ item }}</p>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro with_variant(param) %}
  <ul class="sg-color-boxes sg-with_variant-palette">
  {% for item in param %}
    <li class="sg-color-box swatch-{{ item }}">
      <ul>
        <li class="sg-color-swatch">
          <p class="sg-color-box-title">${{ item }}</p>
          <p class="sg-color-swatch-lighten"></p>
          <p class="sg-color-swatch-darken"></p>
        </li>
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endmacro %}


{# ----------- import de la macro ----------- #}

{% import _self as palette %}

{# ----------- construction des palettes ----------- #}

<h3 class="sg-title">Couleurs principales du site</h3>
{{ palette.with_variant(site_colors)}}

<h3 class="sg-title">Couleurs des alertes</h3>
{{ palette.with_variant(alert_colors)}}

<h3 class="sg-title">Nuances de gris</h3>
{{ palette.simple(gray_colors)}}
