{# tous les svg en planche - pour le styleguide #}
<div class="sg-icon-gallery">
  <p>{{ macro.svg('lien_externe',baseURL) }} lien_externe</p>
  <p>{{ macro.svg('lien_download',baseURL) }} lien_download</p>
  <p>{{ macro.svg('courriel',baseURL) }} courriel</p>
</div>
