<p>Autrefois employé pour mettre en page, l’élément HTML <code>&lt;table&gt;</code> n’est pas stylé par défaut. Utilisez systématiquement le sélecteur CSS <code>.table</code> et les éléments associés —&nbsp;<code>&lt;tbody&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tr&gt;</code>, <code>&lt;td&gt;</code>, <code>&lt;th&gt;</code>&nbsp;— pour baliser les tableaux de données. Indiquez un titre via l’élément <code>&lt;caption&gt;</code>.</p>
<table class="table">
  <caption>Titre du tableau</caption>
  <thead>
    <tr>
      <th scope="col">entête</th>
      <th scope="col">R</th>
      <th scope="col">V</th>
      <th scope="col">B</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>footer</td>
      <td>footer</td>
      <td>footer</td>
      <td>footer</td>
    </tr>
  </tfoot>
  <tbody>
    <tr class="odd">
      <td>Red</td>
      <td>255</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr class="even">
      <td>Green</td>
      <td>0</td>
      <td>255</td>
      <td>0</td>
    </tr>
    <tr class="odd">
      <td>Blue</td>
      <td>0</td>
      <td>0</td>
      <td>255</td>
    </tr>
  </tbody>
</table>
<table class="table table-responsive">
  <caption>Titre du tableau <span class="sr-only">contenu idem au summary</span></caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Entête</th>
      <th scope="col">Entête</th>
      <th scope="col">Entête</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur pouvant courir sur plusieurs lignes, pourquoi pas ?</td>
      <td>Valeurs qui permettront de tester l’affichage des tableaux sur les mobiles</td>
      <td>Valeur</td>
    </tr>
    <tr>
      <th scope="row">Entête</th>
      <td>Valeur</td>
      <td>Valeur</td>
      <td>Valeur</td>
    </tr>
  </tbody>
</table>
