<p><small>Les champs marqués d'un <span class="symbol-required">*</span> sont obligatoires.</small></p>

<form>
  <h3>Input typés</h3>
  <div class="form-group">
    <label for="exampleInputEmail1">Adresse électronique (type email)</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Cette adresse ne sera jamais communiquée à d’autres que nous.</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe (type password)</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="un truc compliqué">
  </div>

  <h3>Selects</h3>
  <div class="form-group">
    <label for="exampleSelect1">Select simple</label>
    <select class="form-control" id="exampleSelect1">
      <option label="non défini"></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="select_element_multi">Select à groupes d'options (optgroup) : </label>
    <select id="select_element_multi" class="form-control">
      <option label="non défini"></option>
      <optgroup label="Option Group 1">
        <option value="1">Option 1.1</option>
        <option value="2">Option 1.2</option>
        <option value="3">Option 1.3</option>
        <option value="4">Option 1.4</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 2.1</option>
        <option value="2">Option 2.2</option>
        <option value="3">Option 2.3</option>
        <option value="4">Option 2.4</option>
      </optgroup>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect2">Select multiple</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option label="non défini"></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <h3>Formulaire de téléchargement</h3>
  <div class="form-group">
    <label for="exampleInputFile">Téléchargez un document</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Poids maximum 1Mo.</small>
  </div>

  <h3>Champ avec erreur</h3>
  <div class="form-group has-error">
    <p id="error-lorem" class="error-desc"> Le champ <em>Lorem ipsum</em> est obligatoire.</p>
    <label for="lorem">Lorem ipsum&nbsp;<span class="symbol-required">*</span>
    </label>
    <input type="text" id="lorem" class="form-control" required aria-required="true" aria-describedby="error-lorem">
  </div>

  <h3>.form-duo</h3>
  <div class="form-duo">
    <div class="form-group">
      <label for="abonne">Numéro d’abonné</label>
      <input type="tel" id="abonne" class="form-control">
    </div>

    <div class="form-group">
      <label for="societe">Société / organisme</label>
      <input type="text" id="societe" class="form-control">
    </div>
  </div>

  <div class="form-duo">
    <div class="form-group has-error">
      <p class="error-desc" id="error-name"> Ce champ est obligatoire.</p>
      <label for="name">Nom <span class="symbol-required">*</span>
      </label>
      <input type="text" id="name" class="form-control" required aria-required="true" aria-describedby="error-name">
    </div>

    <div class="form-group">
      <label for="prenom">Prénom <span class="symbol-required">*</span></label>
      <input type="text" id="prenom" class="form-control" required aria-required="true">
    </div>
  </div>

  <h3>Textarea</h3>
  <div class="form-group">
    <label for="text_area1">Votre message (simple)</label>
    <textarea id="text_area1" class="form-control" rows="6"></textarea>
  </div>

  <h3>Checkboxes</h3>
  <fieldset class="form-group">
    <legend>Choix multiples</legend>

    <div class="form-check">
      <label for="checkbox_01" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_01">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_02" class="form-check-label">
        <input class="form-check-input" type="checkbox" id=" checkbox_02">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_03" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_03">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label for="checkbox_04" class="form-check-label">
        <input type="checkbox" class="form-check-input" disabled id="checkbox_04">
        Option non activable
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Choix multiples (inline)</legend>

    <label for="checkbox_05" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_05">
      choix 1
    </label>
    <label for="checkbox_06" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_06">
      choix 2
    </label>
    <label for="checkbox_07" class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="checkbox_07">
      choix 3
    </label>
  </fieldset>

  <fieldset class="form-group fieldset-discrete">
    <legend>Choix multiples avec fieldset non apparent</legend>

    <div class="form-check">
      <label for="checkbox_08" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_08">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_09" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_09">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label for="checkbox_10" class="form-check-label">
        <input class="form-check-input" type="checkbox" id="checkbox_10">
        choix 3
      </label>
    </div>
  </fieldset>

  <h3>Radio</h3>

  <fieldset class="form-group">
    <legend>Choix unique</legend>

    <div class="form-check">
      <label for="radio_01" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-1" id="radio_01">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label for="radio_02" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-2" id="radio_02">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label for="radio_03" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-3" id="radio_03">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label for="radio_04" class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-4" disabled id="radio_04">
        Option non activable
      </label>
    </div>

  </fieldset>

  <fieldset class="form-group">
    <legend>Choix unique (inline)</legend>

    <label for="radio_08" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-1" id="radio_08">
      choix 1
    </label>
    <label for="radio_09" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-2" id="radio_09">
      choix 2
    </label>
    <label for="radio_10" class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-3" id="radio_10">
      choix 3
    </label>
  </fieldset>

  <div class="form-check">
    <label for="checkbox_11" class="form-check-label">
      <input type="checkbox" class="form-check-input" required id="checkbox_11">
      J’ai bien lu <a href="#">les conditions</a>, je coche avant d'envoyer.
    </label>
  </div>

  <h3>button .btn .btn-primary</h3>
  <p class="form-buttons"><button type="submit" class="btn btn-primary">Envoyer</button></p>

</form>
