<button class="btn btn-primary" data-target="#exempleModal" data-toggle="modal">Hop la modale !</button>

<div class="modal fade" id="exempleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn btn-secondary btn-close" type="button" data-dismiss="modal" title="Fermer" aria-describedby="exampleModalLabel">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Fermer</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Titre de la modale</h5>
      </div>
      <div class="modal-body">
        <p>Contenu de la modale</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur ratione similique ipsa rem ab dicta quaerat voluptate rerum asperiores temporibus illum qui explicabo molestias, quas harum. Dolor, magni, labore.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Continuer</button>
      </div>
    </div>
  </div>
</div>
